


<div class="container-fluid pe-0 mt-3">
    <div class="col-12">
        <div class="d-flex">
            <div class="gross-tbl table-responsive ">
                <table>
                <thead>
                    <tr>
                        <th rowspan="2" >&nbsp;</th>
                        <th colspan="4" style="border-right: 2px solid #e0e1e2;">Loyal Customers</th>
                        <th colspan="3" style="border-right: 2px solid #e0e1e2;">Non-Loyal Customers</th>
                        <th colspan="2" style="border-right: 2px solid #e0e1e2;">Difference</th>
                        <th colspan="6" style="border-right: 2px solid #e0e1e2;">Loyality %</th>
                        <th colspan="6" style="border-right: 2px solid #e0e1e2;">Loyality %</th>
                    
                    </tr>
                    <tr >
                        <th >Stores</th>
                        <th>Count</th>
                        <th>Total</th>
                        <th>Avg</th>
                        <th>Loyality %</th>

                        <th>Count</th>
                        <th>Total</th>
                        <th>Avg</th>

                        <th>Total</th>
                        <th>Avg</th>

                        <th>Feb-22</th>
                        <th>Mar-22</th>
                        <th>Apr-22</th>
                        <th>May-22</th>
                        <th>Jun-22</th>
                        <th>Jul-22</th>

                        <th>Jul-21</th>
                        <th>Jul-22</th>
                        <th>Change</th>
                        <th>2021 YTD</th>
                        <th>2022 YTD</th>
                        <th>Change</th>

                    </tr>
                </thead>
                <tbody>
                    <tr class="title">
                        <td>Store Name 1</td>
                        <td>150</td>
                        <td>$25,000</td>
                        <td>$167</td>
                        <td>15%</td>

                        <td>150</td>
                        <td>$50,000</td>
                        <td>$125</td>

                        <td class="negative">-$25,000</td>
                        <td>$42</td>

                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>

                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                    </tr>
                    <tr class="empty-title">
                        <td>Salesperson</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="sub-title">
                        <td >Salesperson 1</td>
                        <td>25</td>
                        <td>$5,200</td>
                        <td>$208</td>
                        <td>16%</td>

                        <td>30</td>
                        <td>$10,400</td>
                        <td>$156</td>

                        <td class="negative">-$5,200</td>
                        <td>$52</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Salesperson 2</td>
                        <td>30</td>
                        <td>$7,500</td>
                        <td>$250</td>
                        <td>12%</td>

                        <td>30</td>
                        <td>$15,000</td>
                        <td>$188</td>

                        <td class="negative">-$7,500</td>
                        <td>$63</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                    </tr>
                    <tr class="main-title bgtitle">
                        <td>Customer</td>
                        <td>Visit 1</td>
                        <td>Type 1</td>
                        <td>Gross 1</td>
                        <td>Visit 2</td>

                        <td>Type 2</td>
                        <td>Gross 2</td>
                        <td>Visits</td>
                        <td>Total Gross</td>
                        <td>&nbsp;</td>

                        <td>Visit 2</td>
                        <td>Type 2</td>
                        <td>Gross 2</td>
                        <td>Visits</td>
                        <td>Total Gross</td>
                        <td>&nbsp;</td>
                    

                        <td>Visit 2</td>
                        <td>Type 2</td>
                        <td>Gross 2</td>
                        <td>Visits</td>
                        <td>Total Gross</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Smith</td>
                        <td>Date</td>
                        <td>Sales</td>
                        <td>Amount</td>
                        <td>Date</td>

                        <td>Service</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>

                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
                    

                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
    
                    </tr>
                    <tr class="sub-title">
                        <td>Jones</td>
                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>Date</td>

                        <td>Sales</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>


                        <td>Date</td>
                        <td>Sales</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
                    

                        <td>Date</td>
                        <td>Sales</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
    
                    </tr>
                    <tr class="sub-title">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Salesperson 3</td>
                        <td>15</td>
                        <td>$1,500</td>
                        <td>$100</td>
                        <td>31%</td>

                        <td>15</td>
                        <td>$3,000</td>
                        <td>$75</td>

                        <td class="negative">-$1,500</td>
                        <td>$25</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Salesperson 4</td>
                        <td>65</td>
                        <td>$10,000</td>
                        <td>$154</td>
                        <td>29%</td>

                        <td>65</td>
                        <td>$20,000</td>
                        <td>$115</td>

                        <td class="negative">-$10,000</td>
                        <td>$38</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                    </tr>
                    <tr class="title">
                        <td>Store Name 2</td>
                        <td>240</td>
                        <td>$20,000</td>
                        <td>$125</td>
                        <td>17%</td>

                        <td>240</td>
                        <td>$60,000</td>
                        <td>$94</td>

                        <td class="negative">-$30,000</td>
                        <td>$31</td>

                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>

                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                    </tr>
                    <tr class="empty-title">
                        <td>Salesperson</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="sub-title">
                        <td >Salesperson 1</td>
                        <td>25</td>
                        <td>$5,200</td>
                        <td>$208</td>
                        <td>16%</td>

                        <td>30</td>
                        <td>$10,400</td>
                        <td>$156</td>

                        <td class="negative">-$5,200</td>
                        <td>$52</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Salesperson 2</td>
                        <td>30</td>
                        <td>$7,500</td>
                        <td>$250</td>
                        <td>12%</td>

                        <td>30</td>
                        <td>$15,000</td>
                        <td>$188</td>

                        <td class="negative">-$7,500</td>
                        <td>$63</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                    </tr>
                    <tr class="main-title bgtitle">
                        <td>Customer</td>
                        <td>Visit 1</td>
                        <td>Type 1</td>
                        <td>Gross 1</td>
                        <td>Visit 2</td>

                        <td>Type 2</td>
                        <td>Gross 2</td>
                        <td>Visits</td>
                        <td>Total Gross</td>
                        <td>&nbsp;</td>

                        <td>Visit 2</td>
                        <td>Type 2</td>
                        <td>Gross 2</td>
                        <td>Visits</td>
                        <td>Total Gross</td>
                        <td>&nbsp;</td>
                    

                        <td>Visit 2</td>
                        <td>Type 2</td>
                        <td>Gross 2</td>
                        <td>Visits</td>
                        <td>Total Gross</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Smith</td>
                        <td>Date</td>
                        <td>Sales</td>
                        <td>Amount</td>
                        <td>Date</td>

                        <td>Service</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>

                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
                    

                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
    
                    </tr>
                    <tr class="sub-title">
                        <td>Jones</td>
                        <td>Date</td>
                        <td>Service</td>
                        <td>Amount</td>
                        <td>Date</td>

                        <td>Sales</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>


                        <td>Date</td>
                        <td>Sales</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
                    

                        <td>Date</td>
                        <td>Sales</td>
                        <td>Amount</td>
                        <td>$2</td>
                        <td>Total Amt</td>
                        <td>&nbsp;</td>
    
                    </tr>
                    <tr class="sub-title">
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>

                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                        <td>&nbsp;</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Salesperson 3</td>
                        <td>15</td>
                        <td>$1,500</td>
                        <td>$100</td>
                        <td>31%</td>

                        <td>15</td>
                        <td>$3,000</td>
                        <td>$75</td>

                        <td class="negative">-$1,500</td>
                        <td>$25</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>

                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                        <td>16%</td>
                    </tr>
                    <tr class="sub-title">
                        <td>Salesperson 4</td>
                        <td>65</td>
                        <td>$10,000</td>
                        <td>$154</td>
                        <td>29%</td>

                        <td>65</td>
                        <td>$20,000</td>
                        <td>$115</td>

                        <td class="negative">-$10,000</td>
                        <td>$38</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>

                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                        <td>12%</td>
                    </tr>

                    <tr class="title bgtitle">
                        <td>Report Total</td>
                        <td>390</td>
                        <td>$55,000</td>
                        <td>$141</td>
                        <td>16%</td>

                        <td>390</td>
                        <td>$110,000</td>
                        <td>$106</td>

                        <td class="negative">-$55,000</td>
                        <td>$35</td>

                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>

                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                        <td>15%</td>
                    </tr>
                <tbody>
            </table>
          </div>

        </div>
    </div>
</div>

